<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Herramienta Cotizacion Sleeing-Beauty</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'viewre' %}">Ver REs disponibles</a></li>
          <li><a href="{% url 'viewsbc' %}">Ver SCBs disponibles</a></li>
          <li><a href="{% url 'viewmpc' %}">Ver MPCs disponibles</a></li>
          <li><a href="{% url 'viewmic' %}">Ver MICs disponibles</a></li>
          <li><a href="{% url 'viewoptics' %}">Ver Opticas disponibles</a></li>
          <li><a href="{% url 'viewlicense' %}">Ver Licencias disponibles</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}
      {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>
