{% extends "base_generic.html" %}

{% block content %}
<h1>Make-my-life-Easier</h1>

<h2>MX480 quotation</h2>
  <!--
  <script type="text/javascript">
    function get_scb0()
    {
      inputscb0=document.querySelector("#selectscb0")
      ans=inputscb0.options[inputscb0.selectedIndex].value;
      document.querySelector("#scb0").textContent=ans
    }
  </script>
  -->

<form method="POST" action= {% url 'result_quote' %}>
{% csrf_token %}
  <p>SCB0 :
    <select name='selectscb0'>
      <option disabled="true" selected>-- Select SCB --</option>
      {% for results_scb in showscb %}
      <option scb0_value={{results_scb.modelo}}>{{results_scb.modelo}}</option>
      {% endfor %}
    </select>
  </p>

  <p>SCB1 :
    <select name='selectscb1'>
      <option disabled="true" selected>-- Select SCB --</option>
      {% for results_scb in showscb %}
      <option scb1_value={{results_scb.modelo}}>{{results_scb.modelo}}</option>
      {% endfor %}
    </select>
  </p>

  <p>RE0  :
    <select name="selectre0">
    <option disabled="true" selected>-- Select RE --</option>
    {% for results_re in showre %}
    <option re0_value={{results_re.modelo}}>{{results_re.modelo}}</option>
    {% endfor %}
  </select>
  </p>

  <p>RE1  :
    <select name="selectre1">
    <option disabled="true" selected>-- Select RE --</option>
    {% for results_re in showre %}
    <option re1_value={{results_re.modelo}}>{{results_re.modelo}}</option>
    {% endfor %}
  </select>
  </p>

  <p>Slot0  :
    <select name="selectslot0">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select>
  </p>

  <p>Slot1  :
    <select name="selectslot1">
    <option disabled="true" selected>-- Select MPC --</option>
    {% for results_mpc in showmpc %}
    <option>{{results_mpc.modelo}}</option>
    {% endfor %}
  </select>
  </p>
  <p>Slot2  :
    <select name="selectslot2">
    <option disabled="true" selected>-- Select MPC --</option>
    {% for results_mpc in showmpc %}
    <option>{{results_mpc.modelo}}</option>
    {% endfor %}
  </select>
  </p>
  <p>Slot 3:
    <select name="selectslot3">
    <option disabled="true" selected>-- Select MPC --</option>
    {% for results_mpc in showmpc %}
    <option>{{results_mpc.modelo}}</option>
    {% endfor %}
  </select>
  </p>
  <p>Slot 4:
    <select name="selectslot4">
    <option disabled="true" selected>-- Select MPC --</option>
    {% for results_mpc in showmpc %}
    <option>{{results_mpc.modelo}}</option>
    {% endfor %}
  </select>
  </p>
  <p>Slot 5:
    <select name="selectslot5">
    <option disabled="true" selected>-- Select MPC --</option>
    {% for results_mpc in showmpc %}
    <option>{{results_mpc.modelo}}</option>
    {% endfor %}
  </select>
  </p>

  <!--
  <input type="submit" value="click" onclick="get_scb0()"/>
  -->
  <!--
  <input type="submit" value="click" action="{% url 'result_quote' %}" method="POST">
  <b id="scb0"></b>
  -->
  <!--
  <button type="submit" value="Click" onclick="location.href='{% url 'result_quote' %}'" name='mybtn2'>Da Click</button>
  -->

<input type="submit" name="Submit"/>
</form>
{% endblock %}
