{% extends "base_generic.html" %}

{% block content %}
<h1>Make-my-life-Easier</h1>

<h2>MX960 quotation</h2>

<form method="POST" action= "{% url 'make_quote' %}">
{% csrf_token %}
  <label for="it_number">IT number: </label>
  <input id="it_number" type="text" name="it_number" value="{{ current_it }}">

  <p>Chasis :
    <td><select name='selectchasis'>
      <option disabled="true" selected>-- Select Chassis --</option>
      <option chasis_value=MX960-PREMIUM3-DC>MX960-PREMIUM3-DC</option>
    </select>
  </p>
  <table style="width:100%">

  <tr>
  <p><td>SCB0 :</td>
    <td><select name='selectscb0'>
      <option disabled="true" selected>-- Select SCB --</option>
      {% for results_scb in showscb %}
      <option scb0_value={{results_scb.modelo}}>{{results_scb.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  <td></td>
  </tr>

  <tr>
  <p><td>SCB1 :</td>
    <td><select name='selectscb1'>
      <option disabled="true" selected>-- Select SCB --</option>
      {% for results_scb in showscb %}
      <option scb1_value={{results_scb.modelo}}>{{results_scb.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  <td></td>
  </tr>

  <tr>
  <p><td>SCB2 :</td>
    <td><select name='selectscb2'>
      <option disabled="true" selected>-- Select SCB --</option>
      {% for results_scb in showscb %}
      <option scb1_value={{results_scb.modelo}}>{{results_scb.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  <td></td>
  </tr>

  <tr>
  <p><td>RE0  :</td>
    <td><select name="selectre0">
      <option disabled="true" selected>-- Select RE --</option>
      {% for results_re in showre %}
      <option re0_value={{results_re.modelo}}>{{results_re.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  <td></td>
  </tr>

  <tr>
  <p><td>RE1  :</td>
    <td><select name="selectre0">
      <option disabled="true" selected>-- Select RE --</option>
      {% for results_re in showre %}
      <option re0_value={{results_re.modelo}}>{{results_re.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  <td></td>
  </tr>

  <tr>
  <p><td>Slot0  :</td>
    <td><select name="selectslot0">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <p><td style="text-align:center">MIC0:</td>
    <td><select name="selectslot0mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </p>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot0mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot1  :</td>
    <td><select name="selectslot1">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot1mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot1mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot2  :</td>
    <td><select name="selectslot2">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot2mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot2mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot3  :</td>
    <td><select name="selectslot3">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot3mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot3mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot4  :</td>
    <td><select name="selectslot4">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot4mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot4mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>


  <tr>
  <p><td>Slot5  :</td>
    <td><select name="selectslot5">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot5mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot5mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot7  :</td>
    <td><select name="selectslot7">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot7mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot7mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot8  :</td>
    <td><select name="selectslot8">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot8mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot8mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot9  :</td>
    <td><select name="selectslot9">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot9mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot9mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot10  :</td>
    <td><select name="selectslot10">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot10mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot10mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <p><td>Slot11  :</td>
    <td><select name="selectslot11">
      <option disabled="true" selected>-- Select MPC --</option>
      {% for results_mpc in showmpc %}
      <option>{{results_mpc.modelo}}</option>
    {% endfor %}
    </select></td>
  </p>
  </tr>

  <tr>
  <td style="text-align:center">MIC0:</td>
    <td><select name="selectslot11mic0">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
  <td style="text-align:center">MIC1:</td>
    <td><select name="selectslot11mic1">
      <option disabled="true" selected>-- Select MIC --</option>
      {% for results_mic in showmic %}
      <option>{{results_mic.modelo}}</option>
      {% endfor %}
    </select></td>
  </tr>

  <tr>
  <td><input type="submit" name="Submit"/></td>
  </tr>
  </table>
</form>
{% endblock %}
